openapi: 3.0.3
info:
  title: Sequence API
  description: >-
    The Sequence API lets you programmatically manage usage-based billing,
    pricing, and revenue orchestration - customers, usage events and usage
    metrics, billing schedules, invoices and credit notes, products and prices,
    and quotes. It is a resource-based REST API over HTTPS using standard HTTP
    verbs and status codes, authenticated with HTTP Basic auth (Client ID as
    the username and Client Secret as the password). API changes are managed
    with date-based versioning selected via the `sequence-version` header (for
    example `2024-07-30`) or the `latest` alias.


    GROUNDING NOTE (API Evangelist): This document is grounded in Sequence's
    live public documentation at docs.sequencehq.com. The following operations
    were confirmed directly against the rendered API reference, including host
    and path: `GET /customers`, `POST /api/usage-events`,
    `GET /billing-schedules`, `GET /invoices`, and `GET /products`. Additional
    operations are real (their names are published in the documentation index)
    but their exact request/response schemas and, in some cases, exact path
    spelling are MODELED here and marked with `x-modeled: true`. Verify field
    names and payloads against the live reference before production use. Usage
    event ingestion is served under the `/api/` prefix; most resource
    operations are served at the host root.
  version: '2024-07-30'
  contact:
    name: Sequence
    url: https://www.sequencehq.com
  x-grounding:
    confirmed:
    - GET /customers
    - POST /api/usage-events
    - GET /billing-schedules
    - GET /invoices
    - GET /products
    modeledNote: >-
      Operations not in the confirmed list are documented by name in Sequence's
      reference index; their schemas and some paths are modeled and flagged with
      x-modeled.
    source: https://docs.sequencehq.com
    reviewer: API Evangelist
    reviewed: '2026-07-12'
servers:
  - url: https://eu.sequencehq.com
    description: Production (EU)
  - url: https://sandbox.sequencehq.com
    description: Sandbox
security:
  - basicAuth: []
tags:
  - name: Customers
    description: Billable customer entities, contacts, and aliases.
  - name: Usage
    description: Usage event ingestion, usage metrics, and seats.
  - name: Billing Schedules
    description: Recurring contract terms that generate invoices.
  - name: Invoices
    description: Invoice and credit note lifecycle.
  - name: Products
    description: Product and price catalog.
  - name: Quotes
    description: Quotes and quote analytics.
paths:
  /customers:
    get:
      operationId: listCustomers
      tags:
        - Customers
      summary: List customers
      description: >-
        Lists customers with filtering, sorting, and cursor pagination.
        Confirmed against the live Sequence API reference.
      parameters:
        - name: sequence-version
          in: header
          required: false
          description: API version to use, for example 2024-07-30. Defaults to the account's pinned version.
          schema:
            type: string
        - name: legalName
          in: query
          required: false
          schema:
            type: string
        - name: email
          in: query
          required: false
          schema:
            type: string
        - name: alias
          in: query
          required: false
          schema:
            type: string
        - name: label
          in: query
          required: false
          schema:
            type: string
        - name: billingStatus
          in: query
          required: false
          schema:
            type: string
            enum:
              - ACTIVE
              - INACTIVE
        - name: includeArchived
          in: query
          required: false
          schema:
            type: boolean
        - name: sortBy
          in: query
          required: false
          schema:
            type: string
        - name: sortOrder
          in: query
          required: false
          schema:
            type: string
            enum:
              - ASC
              - DESC
            default: DESC
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
        - name: after
          in: query
          required: false
          schema:
            type: string
        - name: before
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A page of customers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createCustomer
      tags:
        - Customers
      summary: Create a customer
      description: Creates a new customer. Schema modeled from the documented operation.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '200':
          description: The created customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /customers/{id}:
    parameters:
      - $ref: '#/components/parameters/CustomerId'
    get:
      operationId: getCustomer
      tags:
        - Customers
      summary: Get a customer
      description: Retrieves a customer by ID. Schema modeled.
      x-modeled: true
      responses:
        '200':
          description: The requested customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateCustomer
      tags:
        - Customers
      summary: Update a customer
      description: Updates a customer. Schema modeled.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerInput'
      responses:
        '200':
          description: The updated customer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/usage-events:
    post:
      operationId: createUsageEvent
      tags:
        - Usage
      summary: Create a usage event
      description: >-
        Ingests a single usage event attributed to a customer via its alias and
        classified by eventType. Confirmed against the live Sequence API
        reference (host and path). This endpoint has a higher, separate rate
        limit than standard endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageEventInput'
      responses:
        '200':
          description: The recorded usage event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    get:
      operationId: listUsageEvents
      tags:
        - Usage
      summary: List usage events
      description: Lists previously ingested usage events. Schema modeled.
      x-modeled: true
      responses:
        '200':
          description: A page of usage events.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageEvent'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /usage-metrics:
    get:
      operationId: listUsageMetrics
      tags:
        - Usage
      summary: List usage metrics
      description: >-
        Lists usage metrics - the aggregation definitions that turn raw usage
        events into billable quantities. Path and schema modeled from the
        documented operation.
      x-modeled: true
      responses:
        '200':
          description: A page of usage metrics.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UsageMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createUsageMetric
      tags:
        - Usage
      summary: Create a usage metric
      description: Creates a usage metric. Path and schema modeled.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageMetric'
      responses:
        '200':
          description: The created usage metric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageMetric'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /billing-schedules:
    get:
      operationId: listBillingSchedules
      tags:
        - Billing Schedules
      summary: List billing schedules
      description: >-
        Lists billing schedules. Confirmed against the live Sequence API
        reference (host and path). Response schema modeled.
      responses:
        '200':
          description: A page of billing schedules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createBillingSchedule
      tags:
        - Billing Schedules
      summary: Create a billing schedule
      description: Creates a billing schedule. Schema modeled.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillingSchedule'
      responses:
        '200':
          description: The created billing schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /billing-schedules/{id}:
    parameters:
      - $ref: '#/components/parameters/GenericId'
    get:
      operationId: getBillingSchedule
      tags:
        - Billing Schedules
      summary: Get a billing schedule
      description: Retrieves a billing schedule by ID. Schema modeled.
      x-modeled: true
      responses:
        '200':
          description: The requested billing schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSchedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices:
    get:
      operationId: listInvoices
      tags:
        - Invoices
      summary: List invoices
      description: >-
        Lists invoices. Confirmed against the live Sequence API reference (host
        and path). Response schema modeled.
      responses:
        '200':
          description: A page of invoices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createInvoice
      tags:
        - Invoices
      summary: Create an invoice
      description: Creates a draft invoice. Schema modeled.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: The created invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /invoices/{id}:
    parameters:
      - $ref: '#/components/parameters/GenericId'
    get:
      operationId: getInvoice
      tags:
        - Invoices
      summary: Get an invoice
      description: Retrieves an invoice by ID. Schema modeled.
      x-modeled: true
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /invoices/{id}/finalize:
    parameters:
      - $ref: '#/components/parameters/GenericId'
    post:
      operationId: finalizeInvoice
      tags:
        - Invoices
      summary: Finalize an invoice
      description: >-
        Finalizes a draft invoice, moving it out of draft so it can be sent.
        Path and schema modeled from the documented "Finalize invoice"
        operation.
      x-modeled: true
      responses:
        '200':
          description: The finalized invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /products:
    get:
      operationId: listProducts
      tags:
        - Products
      summary: List products
      description: >-
        Lists products in the catalog. Confirmed against the live Sequence API
        reference (host and path). Response schema modeled.
      responses:
        '200':
          description: A page of products.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createProduct
      tags:
        - Products
      summary: Create a product
      description: Creates a product. Schema modeled.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: The created product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /prices:
    get:
      operationId: listPrices
      tags:
        - Products
      summary: List prices
      description: >-
        Lists prices. Path and schema modeled from the documented "List all
        Prices" operation.
      x-modeled: true
      responses:
        '200':
          description: A page of prices.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Price'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createPrice
      tags:
        - Products
      summary: Create a price
      description: Creates a price. Path and schema modeled.
      x-modeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Price'
      responses:
        '200':
          description: The created price.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Price'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
  /quotes:
    get:
      operationId: listQuotes
      tags:
        - Quotes
      summary: List quotes
      description: >-
        Lists quotes. Path and schema modeled from the documented "List quotes"
        operation.
      x-modeled: true
      responses:
        '200':
          description: A page of quotes.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication. The Client ID is the username and the Client
        Secret is the password, sent as
        `Authorization: Basic base64(clientId:clientSecret)`. Credentials are
        created in the Sequence Dashboard; the Client Secret is shown only once.
  parameters:
    CustomerId:
      name: id
      in: path
      required: true
      description: The customer ID.
      schema:
        type: string
    GenericId:
      name: id
      in: path
      required: true
      description: The resource ID.
      schema:
        type: string
  responses:
    Unauthorized:
      description: Missing or invalid Basic auth credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: Error envelope (modeled).
      x-modeled: true
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
              additionalProperties: true
    CustomerList:
      type: object
      description: Cursor-paginated list of customers (envelope modeled).
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        pagination:
          type: object
          properties:
            after:
              type: string
              nullable: true
            before:
              type: string
              nullable: true
    CustomerInput:
      type: object
      description: Customer create/update payload (modeled).
      x-modeled: true
      required:
        - legalName
      properties:
        legalName:
          type: string
        email:
          type: string
          format: email
        label:
          type: string
        aliases:
          type: array
          description: External identifiers used to attribute usage to this customer.
          items:
            type: string
        taxStatus:
          type: string
    Customer:
      allOf:
        - $ref: '#/components/schemas/CustomerInput'
        - type: object
          properties:
            id:
              type: string
            billingStatus:
              type: string
              enum:
                - ACTIVE
                - INACTIVE
            archived:
              type: boolean
            createdAt:
              type: string
              format: date-time
    UsageEventInput:
      type: object
      description: >-
        Usage event ingestion payload. `customerAlias` and `eventType` are
        required per the live reference; other fields are optional.
      required:
        - customerAlias
        - eventType
      properties:
        customerAlias:
          type: string
          description: End-customer alias or ID that this event is attributed to.
        eventType:
          type: string
          description: Event type, referenced from a usage metric.
        customerEventId:
          type: string
          description: >-
            Idempotency key. A subsequent event with the same customerEventId
            supersedes the prior one.
        eventTimestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp for when the event occurred.
        eventProperties:
          type: object
          description: Arbitrary custom properties used by metric aggregation.
          additionalProperties: true
    UsageEvent:
      allOf:
        - $ref: '#/components/schemas/UsageEventInput'
        - type: object
          properties:
            id:
              type: string
    UsageMetric:
      type: object
      description: Usage metric aggregation definition (modeled).
      x-modeled: true
      properties:
        id:
          type: string
        name:
          type: string
        eventType:
          type: string
        aggregationType:
          type: string
          description: Aggregation applied to matching events, for example COUNT or SUM.
        aggregationProperty:
          type: string
    BillingSchedule:
      type: object
      description: Recurring billing schedule (modeled).
      x-modeled: true
      properties:
        id:
          type: string
        customerId:
          type: string
        status:
          type: string
          description: For example DRAFT, ACTIVE, or ARCHIVED.
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
          nullable: true
        currency:
          type: string
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
    Invoice:
      type: object
      description: Invoice (modeled).
      x-modeled: true
      properties:
        id:
          type: string
        customerId:
          type: string
        status:
          type: string
          description: For example DRAFT, FINALIZED, SENT, PAID, or VOID.
        currency:
          type: string
        total:
          type: number
        dueDate:
          type: string
          format: date
        lineItems:
          type: array
          items:
            type: object
            additionalProperties: true
    Product:
      type: object
      description: Catalog product (modeled).
      x-modeled: true
      properties:
        id:
          type: string
        name:
          type: string
        label:
          type: string
        archived:
          type: boolean
    Price:
      type: object
      description: Price attached to a product (modeled).
      x-modeled: true
      properties:
        id:
          type: string
        productId:
          type: string
        name:
          type: string
        currency:
          type: string
        pricingModel:
          type: string
          description: For example FIXED, PER_UNIT, TIERED, or USAGE_BASED.
        billingFrequency:
          type: string
    Quote:
      type: object
      description: Quote (modeled).
      x-modeled: true
      properties:
        id:
          type: string
        customerId:
          type: string
        status:
          type: string
          description: For example DRAFT, PUBLISHED, SIGNED, or ACCEPTED.
        currency:
          type: string
        total:
          type: number
